<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Datlas - Perfect Reports</title>

    <!-- Bootstrap Core CSS -->
    <link href="templates/3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="templates/3/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="templates/3/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="templates/3/vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="templates/3/css/new-age.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <style type="text/css">
        .email-input {
            width: inherit !important;
            display: initial;
            border: 2px solid #FDC842;
        }
        .btn-email-submit:hover {
            background-color: #B63059;
        }

        .btn-email-submit {
            background-color: #B63059;
        }
        @media screen and (min-width: 601px) {
            .contact-image {
                background-size: 100% 100% !important;
                
                padding:170px 0;
            }

            .bottom-form {
                text-align: left;
            }
        }

        @media screen and (max-width: 600px) {
            .contact-image {
                padding: 50px 0 !important;
                background-size: 100% 100% !important;
            }
            .bottom-form {
                margin-left: 0px !important;
            }
            .center-sm {
                text-align: center;
            }
        }
    </style>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Datlas</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#download">HAKKIMIZDA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">ÖZELLİKLER</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">İLETİŞİM</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="header-content-inner" style="position:relative;">
                            <h1>
                              <% if flash[:notice] %>
                                  <% flash.each do |name, msg| -%>
                                      <div style="color: #FDCB4E" id="flash">
                                        <%= content_tag :div, msg, class: 'text-center' %>
                                      </div>
                                  <% end -%>
                              <% end %>
                            </h1>
                            <h1 class="text-center" style="font-weight: bold;">DATLAS</h1>
                            <h2 class="text-center">Raporlamaya harcadığınız zamanı daha fazla dert etmeyin!</h2>
                            <h3 class="text-center">Veritabanı raporlamanın hızlı, güvenilir ve kolay yolu</h3>
                            <div class="text-center">
                                <a href="#download" class="btn btn-outline btn-xl page-scroll">Daha Fazla</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Datlas nedir?</h2>
                    <h3>Datlas veritabanı görselleştirmeyi ve raporlamayı sizin yerinize kısa sürede, kolayca gerçekleştiren bir uygulamadır. Sadece bir kaç tıkla veritabanınızla ilgili dilediğiniz bilgiyi, dilediğiniz anda görebilmenizi sağlar.</h3>
                    <h3>Bu bilgilerin size özel bir formatta raporlanması mı gerekiyor? Datlas dilediğiniz formatta rapor almanıza yardımcı olur.</h3>
                    <h3>Datlas size veri raporlamaya harcayacağınız zamanı başka şekillerde değerlendirebilme imkanı sunuyor!</h3>
                    <h4 style="color: white; margin-top: 100px;">Sizi haberdar edebilmemiz için email adresinizi bırakın.</h4>
                    <%= form_for @newsletter, url: create_newsletter_path, :html => {:multipart => true} do |f| %>
                        <div class="form col-md-offset-2 col-md-9 col-xs-12 text-center">
                          <%= f.email_field :email, class: 'form-control email-input', placeholder: '', required: true %>
                          <%= f.submit 'Gönder', class: 'btn btn-outline btn-bg btn-email-submit' %>
                        </div>
                        <br/>
                    <% end %>
                    <h1>
                      <% if flash[:newsletter_alert] %>
                          <% flash.each do |name, msg| -%>
                              <div style="color: #FDCB4E" id="flash">
                                <%= content_tag :div, msg, class: 'text-center' %>
                              </div>
                          <% end -%>
                      <% end %>
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Hızlı! Güvenilir! Kolay!</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-hourglass text-primary"></i>
                                    <h3>Anında Erişim</h3>
                                    <p class="text-muted">Saniyeler içerisinde istediğiniz veriye ulaşın!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-shield text-primary"></i>
                                    <h3>Güvendesiniz</h3>
                                    <p class="text-muted">Verileriniz sizden başkası tarafından görüntülenemez ve kullanılamaz!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-magic-wand text-primary"></i>
                                    <h3>Özelleştirilmiş Raporlar</h3>
                                    <p class="text-muted">Elde etmek istediğiniz veriler istediğiniz yapıya uygun hale getirilir!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-directions text-primary"></i>
                                    <h3>Ne İstediğinizi Bilin Yeter</h3>
                                    <p class="text-muted">Anlaşılır arayüz raporlama işlemlerinizi bir kaç tıkla halledebilmenizi sağlar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="contact" class="cta contact-image" style="background-image: url('templates/3/img/handshake2.jpg');">
        <div class="cta-content">
            <div class="container">
                <h2 class="center-sm" style="max-width:760px;">Daha fazla beklemeyin.<br>Datlas'la tanışın.</h2>
                <h4 class="center-sm" style="color: white">Sizi haberdar edebilmemiz için email adresinizi bırakın.</h4>
                <%= form_for @newsletter, url: create_newsletter_path, :html => {:multipart => true} do |f| %>
                    <div class="form col-md-6 col-xs-12 row text-center bottom-form">
                      <%= f.email_field :email, class: 'form-control email-input', placeholder: 'abc@def.com', required: true %>
                      <%= f.submit 'Gönder', class: 'btn btn-outline btn-email-submit' %>
                    </div>
                    <br/>
                <% end %>
                <h1>
                  <% if flash[:newsletter_alert] %>
                      <% flash.each do |name, msg| -%>
                          <div style="color: #FDCB4E" id="flash">
                            <%= content_tag :div, msg, class: 'text-center' %>
                          </div>
                      <% end -%>
                  <% end %>
                </h1>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <!-- jQuery -->
    <script src="templates/3/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="templates/3/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="templates/3/js/new-age.min.js"></script>

</body>

</html>
